@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;700&display=swap");

* {
    font-family: "IBM Plex Sans Condensed", sans-serif;
}

body {
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

.text-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    background: #f4f4f4;
}

tr:hover {
    background: #ffeaa7;
}

td,
th {
    padding: 2px 5px;
    border: 1px solid #eee;
}

.nowrap {
    white-space: nowrap;
}

.red {
    color: red;
}
